[submodule "projects/catch2"]
	path = projects/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "projects/rocksdb"]
	path = projects/rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "google/snappy"]
	path = google/snappy
	url = git@github.com:google/snappy.git
